<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>head</key>
		<string>李白</string>
		<key>user</key>
		<string>李白</string>
		<key>pass</key>
		<string>1234</string>
		<key>phone</key>
		<string>13592789639</string>
		<key>info</key>
		<string>珍惜你的人会第一时间打来；搬走的餐厅，就不要大老远过去吃了，你的时间不能一直花在追随的路上。</string>
		<key>comment1</key>
		<string>小伙子不错</string>
		<key>comment2</key>
		<string>谁都知道我健忘可我常常空想也会红了眼眶</string>
	</dict>
	<dict>
		<key>head</key>
		<string>袁天罡</string>
		<key>user</key>
		<string>袁天罡</string>
		<key>pass</key>
		<string>1234</string>
		<key>phone</key>
		<string>13888888888</string>
		<key>info</key>
		<string>今天培训我们的IOS李文玉老师好漂亮啊！！听说还是IOS高级讲师</string>
		<key>comment1</key>
		<string>哎哟可以可以</string>
		<key>comment2</key>
		<string>我也觉得不错</string>
	</dict>
	<dict>
		<key>head</key>
		<string>白居易</string>
		<key>user</key>
		<string>白居易</string>
		<key>pass</key>
		<string>1234</string>
		<key>phone</key>
		<string>13777777777</string>
		<key>info</key>
		<string>把圈子变小，把语言变干净，把成绩往上提，把故事往心里收一收，现在想要的以后都会有。</string>
		<key>comment1</key>
		<string>嗯嗯</string>
		<key>comment2</key>
		<string>我也觉得不错</string>
	</dict>
	<dict>
		<key>head</key>
		<string>杜甫</string>
		<key>user</key>
		<string>杜甫</string>
		<key>phone</key>
		<string>13333333333</string>
		<key>pass</key>
		<string>1234</string>
		<key>info</key>
		<string>曾经以为，校服是种约束，后来才知，那是最无忧无虑的日子。</string>
		<key>comment1</key>
		<string>是的</string>
		<key>comment2</key>
		<string>我也觉得不错</string>
	</dict>
	<dict>
		<key>head</key>
		<string>李淳风</string>
		<key>user</key>
		<string>李淳风</string>
		<key>pass</key>
		<string>2015-10-11</string>
		<key>phone</key>
		<string>13444444444</string>
		<key>info</key>
		<string>今晚东莞丰田文体中心开show啦，同学们记得来捧场！</string>
		<key>comment1</key>
		<string>哎哟，可以可以</string>
		<key>comment2</key>
		<string>我也觉得不错</string>
	</dict>
	<dict>
		<key>user</key>
		<string>汪峰</string>
		<key>phone</key>
		<string>13555555555</string>
		<key>pass</key>
		<string>2015-10-14</string>
		<key>info</key>
		<string>今晚中国好声音鸟巢见，我将带领贝贝夺冠！！</string>
		<key>from</key>
		<string>iphone 6s plus</string>
		<key>comment1</key>
		<string>看好你</string>
		<key>comment2</key>
		<string>汪峰必胜</string>
	</dict>
	<dict>
		<key>user</key>
		<string>那英</string>
		<key>phone</key>
		<string>13666666666</string>
		<key>pass</key>
		<string>2015-10-14</string>
		<key>info</key>
		<string>汪峰那小子想跟我争冠，没门，我可是两届好声音冠军导师</string>
		<key>from</key>
		<string>iphone 6s plus</string>
		<key>comment1</key>
		<string>哇</string>
		<key>comment2</key>
		<string>支持那英</string>
	</dict>
	<dict>
		<key>user</key>
		<string>哈林</string>
		<key>phone</key>
		<string>13999999999</string>
		<key>pass</key>
		<string>2015-10-14</string>
		<key>info</key>
		<string>今晚好声音我来了！！</string>
		<key>from</key>
		<string>iphone 6s plus</string>
		<key>comment1</key>
		<string>哈林加油</string>
		<key>comment2</key>
		<string>加油加油</string>
	</dict>
	<dict>
		<key>title</key>
		<string>心灵鸡汤</string>
		<key>time</key>
		<string>2015-10-09</string>
		<key>info</key>
		<string>帅的人说话都喜欢说一半，比如……</string>
		<key>from</key>
		<string>iphone 5</string>
		<key>comment1</key>
		<string>赞</string>
		<key>comment2</key>
		<string>心灵</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酷爱编程</string>
		<key>time</key>
		<string>2015-10-08</string>
		<key>info</key>
		<string>JAVA,C,C++,C#,OC,JSP,PHP,ORACLE,MYSQL熟练掌握</string>
		<key>from</key>
		<string>iphone 4</string>
		<key>comment1</key>
		<string>JAVA爱好者</string>
		<key>comment2</key>
		<string>OC爱好者</string>
	</dict>
</array>
</plist>
